:root {
    font-family: sans-serif;
}

html, body, #app {
    margin: 0;
    height: 100%;
}

h1 {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 900;
    margin: 0;
    font-size: 1.5rem;
}

h2 {
    opacity: 0.5;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.8rem;
    margin: 0.5rem 0;
}

i {
    opacity: 0.5;
}

textarea, input[type=text], input[type=date] {
    all: unset;
    padding: 15px;
    background-color: rgb(236, 236, 236);
    border-radius: 10px;
    line-height: 1;
}

img {
    object-fit: cover;
}

@keyframes popIn {
    from {
        transform: translateX(var(--translate-x)) scale(0);
    }
    
    to {
        transform: translateX(var(--translate-x)) scale(1);
    }
}

@keyframes popOut {
    from {
        transform: translateX(var(--translate-x)) scale(1);
    }
    
    to {
        transform: translateX(var(--translate-x)) scale(0);
    }
}

@keyframes slideIn {
    0% {
        transform: translate(5vw, 0);
        opacity: 0;
    }

    100% {
        transform: translate(0, 0);
        opacity: 1;
    }
}